h1 {
    text-align: center;
    max-height: 150px;
}

.label-block {
    display: block; 
    margin-bottom: 1em;
}

.content {
    display: inline-flex;
    width: 100%;
}

.textarea-block {
    width: 100%;
    height: 20em;
}

.block-24 {
    width: 100%;
}

.margin-offset-2 {
    margin: 2rem;
}

.example-section {
    border: 1px solid lightcoral;
    margin-left: 2rem;
    padding-left: 2rem;
    width: 30%;
}
.pre-example {
    
}
